doctype html
html(lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title #{host} maintenance
    meta(name="description" content=message)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular")
    style.
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'Roboto';
        color: #333;
      }
      #app {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      h1, h2 {
        margin: 0 1em;
        text-align: justify;
      }
      h1 {
        font-size: 32px;
        padding-bottom: 8px;
        border-bottom: 1px solid #333;
      }
      h2 {
        font-size: 16px;
        padding-top: 16px;
      }
  body
    // application content
    #app
      h1 #{host}
      h2 #{message}
